@import url('https://fonts.googleapis.com/css?family=Mochiy Pop P One:700|Mochiy Pop P One:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #cd9ce7;
    --secondary: #eedff6;
    --accent: #983ecc;
  }
  .dark {
    --text: #ffffff;
    --background: #000000;
    --primary: #491864;
    --secondary: #180920;
    --accent: #8d33c1;
  }
}

@layer components {
  .card {
    @apply 
    shadow-md 
    bg-secondary 
    rounded-md p-4;
  }
  .btn-primary {
    @apply 
    bg-primary 
    hover:bg-accent 
    focus:bg-accent 
    text-text 
    border-primary 
    py-2 
    px-4 
    border 
    rounded-xl
    focus:outline-none
    focus:shadow-md;
  }
  .btn-secondary {
    @apply 
    bg-transparent 
    hover:bg-accent 
    focus:bg-accent 
    text-text
    focus:text-secondary
    hover:text-secondary
    border-primary 
    focus:border-primary 
    py-2 
    px-4 
    border 
    hover:border-transparent 
    rounded-xl
    focus:outline-none
    focus:shadow-md;
  }
  .btn-tercery {
    @apply 
    bg-transparent 
    hover:bg-accent 
    focus:bg-accent 
    text-text 
    focus:text-secondary
    hover:text-secondary
    py-2 
    px-4 
    border-primary  
    focus:outline-none
    rounded-xl
    focus:shadow-md;
  }
  .link {
    @apply 
    bg-transparent 
    text-primary 
    hover:text-secondary
    focus:text-secondary 
    hover:cursor-pointer
    border-primary  
    focus:outline-none;
  }
  .input-text {
    @apply 
    shadow 
    appearance-none 
    border-2
    rounded
    w-full 
    py-2 
    px-3 
    text-gray-700
    leading-tight 
    focus:outline-none
    focus:border-primary 
    focus:shadow-md;
  }

  /* ... */
}
